{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var msgs_url = "{{=URL('api', 'get_msgs')}}";
    var add_msg_url = "{{=URL('api', 'add_msg', user_signature=True)}}";
    var del_msg_url = "{{=URL('api', 'del_msg', user_signature=True)}}";
    var edit_msg_url = "{{=URL('api', 'edit_msg', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <h2>Posts</h2>


    <div id="vue-div" class="display:none">
        <div class="button_bar">
            <button v-if="!is_adding_msg" class="btn btn-danger btn-sm" v-on:click="add_msg_button()" v-bind:disabled="!logged_in">
                {{=icon_add}}Add new post
            </button>
            <button v-if="is_adding_msg" class="btn btn-warning btn-sm" v-on:click="add_msg_button()">
                {{=icon_cancel}}Cancel
            </button>
        </div>

        <div v-if="is_adding_msg" id="add_msg_div">
            <form action="#" v-on:submit.prevent="add_msg" class="form-horizontal" enctype="multipart/form-data" method="post">

                <div id="add-new-post">
                    <div>
                        <textarea v-model="form_msg_content" placeholder="Post Text"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div id="add-new-post">
                    <div>
                        <input class="btn btn-primary" id="add_msg_submit" type="submit" value="Post" />
                    </div>
                </div>
            </form>
        </div>

        <div id="post-content">
            <table style="width: 100%;"><tr v-for="msg in msgs"><td class="post_list">
                <table style="width: 100%;"><tr><td class="post">
                    <table style="width: 100%;"><tr><td style="padding-top: 5px;">
                                <div v-if="!is_editing_msg || edit_id !== msg.id">
                                    ${msg.msg_content}
                                </div>
                                <div id="edit_msg_div" v-if="is_editing_msg && edit_id === msg.id">
                                    <form action="#" v-on:submit.prevent="edit_msg" class="form-horizontal" enctype="multipart/form-data" method="post">
                                        <div id="no_table_msg__row">
                                            <textarea class="form-control string" id="no_table_msg" type="text" v-model="edit_msg_content"></textarea>
                                            <span class="help-block"></span>
                                        </div>
                                        <div id="post-edit-button">
                                            <input class="btn btn-primary" id="edit_msg_submit" type="submit" value="Post"/>
                                            <button class="btn btn-warning btn-sm" v-on:click="edit_cancel()">
                                                {{=icon_cancel}}Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </td></tr>
                        <tr>
                            <td style="padding-right: 5px;">
                                <div style="font-size: 9pt; color: dimgray;">
                                    Posted By: ${msg.created_by}
                                </div>
                            </td>
                            <td style="text-align: right;">
                                <div v-if="msg.is_user && (!is_editing_msg || edit_id !== msg.id)">
                                    <i class="fa fa-trash-o" v-on:click="delete_msg(msg.id)"></i>
                                    <i class="fa fa-pencil-square-o" v-on:click="edit_msg_button(msg.id, msg.msg_content)"></i>
                                </div>

                            </td>
                        </tr>
                        <tr><td>
                            <div style="font-size: 9pt; color: dimgray;">
                                Created On: ${msg.created_on}
                            </div>
                        </td></tr>
                        <tr><td>
                            <div style="font-size: 9pt; color: dimgray;" v-if="msg.created_on !== msg.updated_on">
                                Updated On: ${msg.updated_on}
                            </div>
                    </td></tr></table>
                </td></tr></table>
            </td></tr></table>
            <div id="load-more" v-if="has_more" class="show_more">
                <button class="btn btn-default" v-on:click="get_more()">Load more</button>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
