cache/*
databases/*
errors/*
sessions/*
uploads/*
*.pyc
*~
.sass-cache
.sass-cache/*


*.iml

.idea/modules.xml

.idea/misc.xml

.idea/libraries/Web2Py_Library.xml

.idea/vcs.xml

.idea/workspace.xml
